.vedeni {
  h2 {
    margin-bottom: 32px;
  }
  h3 {
    margin-bottom: 32px;
  }
  p {
    margin-bottom: 24px;
  }
  .table-responsive {
    table {
      tr {
        td:first-child {
          width: 250px;
        }
        td,
        th {
          text-align: left;
          width: auto;
        }
      }
    }
  }
}
p {
  iframe {
    width: 100%;
    display: block;
  }
}

