@import 'vars';
@import 'global';
@import 'header';
@import 'footer';
@import 'article';
@import 'soupiska';
@import 'zapasy';
@import 'hrac';
@import 'clanky';
@import 'article-slider';
@import 'homepage';
@import 'about';
@import 'partners-page';
@import 'gallery';
@import 'mladez';
@import 'statistiky';
@import 'archiv';
@import 'tabulka-page';
@import 'vedeni';
@import 'stadiony';
@import 'podcast';
@import 'dotazy';

select {
  line-height: 1.1;
  font-family: inherit;
  color: $dark-gray;
  font-size: 1rem;
  border-radius: 2px;
  border: 1px solid $dark-gray;
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 4px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  display: block;
  font-weight: 500;
  letter-spacing: 1px;
  text-align: left;
  padding: 7px 8px 3px 11px;
  max-width: 260px;
  width: 100%;
  min-width: 300px;
  box-sizing: border-box;
  margin: 0 4px;
  height: 40px;
  outline: none;
  background-image: url('../images/svg/angle-down.svg');
  background-repeat: no-repeat;
  background-position: right 1.2rem center;
  background-size: 8px 12px;
  transition: 0.3s all linear;
}

.selects__row {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 16px;
  margin-top: 16px;
  select {
    margin-bottom: 16px;
  }
}

@import 'media';
